body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

th {
  padding: 12px 10px 12px 10px;
  text-align: left;
}

td {
  padding: 12px 10px 12px 10px;
  text-align: left;
}

.center{
  margin: 0 auto;
  text-align: center;
}
.contents{
  width: 800px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}

.script {
  border:solid 1px #000000;
  border-color: #FFFFFF;
}
